div.layout-container {
    background-color: #222;

    @media (max-width: 1700px) {
        width: 66% !important;
    }

    @media (max-width: 1000px) {
        width: 100% !important;
        max-width: 1000px;
        margin: 0;
    }
}